.App {
  text-align: center;
}

button {
  padding: 8px 15px;
  border-radius: 15px;
  font-size: 1.5em;
  background-color: white;
  color: black;
  box-shadow: black 2px 2px;
  margin: 50px auto;
  /* transition: all 200ms; */
}

button:hover {
  box-shadow: black 5px 5px;
  position: relative;
  top: -3px;
  left: -3px;
}

button:active {
  box-shadow: black 1px 1px;
  position: relative;
  top: 4px;
  left: 4px;
}
