.App {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

button {
  padding: 8px 15px;
  border-radius: 15px;
  font-size: 1.5em;
  background-color: white;
  color: black;
  box-shadow: black 2px 2px;
  margin: 50px auto;
  /* transition: all 200ms; */
}

button:hover {
  box-shadow: black 5px 5px;
  position: relative;
  top: -3px;
  left: -3px;
}

button:active {
  box-shadow: black 1px 1px;
  position: relative;
  top: 4px;
  left: 4px;
}

a {
  color: black;
  text-decoration: none;
}

.secondaryButton {
  background-color: rgb(255, 162, 0);
}

/* Header */

.Header {
  background-color: rgb(255, 162, 0);
  color: rgb(5, 5, 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  box-shadow: rgb(252, 227, 0) 5px 5px;
}

#headerTitle {
  font-style: italic;
  text-transform:uppercase;
  /* text-shadow: rgb(239, 252, 0) 3px 2px; */
}

/* Recipehs page */
.recipehHeader {
  background-color: lightgray;
  width: 100%;

}

.recipehHeaderItemsContainer {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;

}

/* Filters */

.Filters {
  width: 100%;
  /* justify-content: center; */
  
}

.voorkeurButton {
  margin: 0px 5px;
  font-size: 1em;
}

.voorkeurButton.active {
  background-color: rgb(137, 255, 208);
}


/* Search */

.search {
  width: 100%;
}

.searchBar input {
  background-color: lightgray;
  border: none;
  color: black;
  font-size: 1em;
  width: 70%;
  border-bottom: 1px solid rgba(47, 79, 79, 0.294);
  margin-top: 30px;
  transition: all 50ms;
}

.searchBar input:focus {
  outline: none;
  font-size: 1.5em;
  border-bottom: 1px solid darkslategray;

}

@media screen and (min-width: 680px) {
  .search {
    width: 40%;
  }

  .Filters {
    width: 60%;
  }
}

/* Search Result List */

.searchResult {
  margin: 0 auto;
  background-color: lightgray;
}

.searchResult h2 {
  margin: 0;
  padding: 20px;
}

.resultList {
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}



/* RecipehTile (favoriteList, SearchResult, VisitedList */
.recipehTile {
  margin: 10px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  box-shadow: black 5px 5px;
}

.searchResult .resultList .recipehTile {
  max-width: 40%;
  max-height: 100%;
}

/* Favorites */

.favoritesListComponent {
  display:block;
  margin-top: 100px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.203);
  box-shadow: rgba(0, 0, 0, 0.359) 2px 1px;
  background-color: rgba(131, 171, 231, 0.523);
}

.showHideFavoritesClosed {
  /* background-color: white; */
  padding: 10px;
  /* border: 2px solid white; */
  width: 300px;
  border-radius: 15px;
  margin: 20px auto;
}

.showHideFavoritesOpen {
  padding: 10px;
  border: 2px solid white;
  width: 300px;
  border-radius: 15px;
  margin: 20px auto;
}

.favoritesList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
}

.favoritesList .recipehTile {
  width: 40%;
  max-height: 150px;
  border: none;
  box-shadow: none;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 75px;
}

@media screen and (min-width: 768px) {
  .favoritesList .recipehTile {
    width: 30%
  }
}

.recipehTile h3 {
  width: 100%;
  padding: 10px;
  background-color: rgb(255, 162, 0);
  color: white;
  border-radius: 5px;
}

/* Favorites Button */
.FavoritesButton  {
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.879);
  border: none;
  box-shadow: none;
  
}

.FavoritesButton:hover {
  box-shadow: none;
  background-color: white;
  top: 0;
  left: 0;
}

.faHeartPlus {
  color: rgba(0, 0, 0, 0.605);
  transition: all 0.5s;

}

.faHeartPlus:hover {
  color: rgb(255, 76, 76);
  transform: rotateY(180deg);

}

.faHeartPlus:active {
  transform: rotateY(360deg);
}

.faHeartMinus {
  color: rgb(255, 76, 76);
  transition: all 0.5s;
}

.faHeartMinus:hover {
  color: rgba(0, 0, 0, 0.605);
  transform: rotateY(180deg);
}

@media screen and (max-width: 425px) {
  .faHeartPlus:hover {
    color: white;
    transform: none;
  }

  .faHeartMinus:hover {
    color: rgb(255, 76, 76);
    transform: none;
  }
}

/* Recipeh */

.recipeh {
  max-width: 1024px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: black 5px 5px;
  margin: 0 auto;
  padding-bottom: 50px;
}

/* .recipeh img {
  max-height: 400px;
  max-width: 400px;
} */

.recipehTopSection {
  height: 600px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-items: flex-end; */
  background-repeat: none;
  background-size: cover;
}

.recipehTopSection .FavoritesButton {
  
}

#recipehTitle {
  text-align: left;
  background-color: white;
  margin-bottom: 0;
  padding: 10px;
}

.recipehMetaList {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: rgb(255, 162, 0);
  color: white;
}

.recipehTextContainer {
  text-align: left;
  padding: 20px;
}

@media screen and (min-width: 680px) {
  .recipehTextContainer {
    display:flex;
    justify-content: center;
  }

  .recipehInstructionSection {
    /* display: block; */
    margin-left: 40px;
    max-width: 50%;
  }
}

.recipehIngredientsList {
  text-align: left;
  list-style: none;
  padding-left: 0;
}

.recipehIngredientsList li {
  padding: 5px;
  color: rgba(0, 0, 0, 0.65);
}

.recipehInstructionList {
  list-style-position:outside;
  list-style-type:upper-roman;
  padding-left: 20px;
  /* list-style-type: none; */

}

.recipehInstructionList li {
  padding: 5px;
  color: rgba(0, 0, 0, 0.65);
}

/* Visited Items */

  .visitedList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
  }